---
---

@import "{{ site.theme }}";

ul li{
    list-style-image: none;
}
ul li {
    list-style: none;
}
ul li::before{
    content: "\2022";
    color: #b5e853;
    //padding-right: 1em;
    //font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
ul li{
    padding: 5px 0px;
}
pre{
    font-size:75%;
}
code.highlighter-rouge{
    border-style: none;
    background:inherit;
    color:#bada07;
}

// support for copy button
pre.highlight {
    padding: 8px 12px;
    position: relative;

    // override skeleton styles
    > code {
        border: 0;
        overflow-x: auto;
        padding-right: 0;
        padding-left: 0;
    }

    &.highlight {
        border-left: 15px solid #35383c;
        color: #c1c2c3;
        overflow: auto;
        white-space: pre;
        word-wrap: normal;

        &,
        code {
            background-color: #222;
            font-size: 18px;
        }
    }
    // copy code to clipboard
    .copy {
        color:#bada07;
        position: absolute;
        right: 1.2rem;
        top: 1.2rem;
        opacity: 0;
        &:active,
        &:focus,
        &:hover {
            background: rgba(0, 0, 0, 0.7);
            opacity: 1;
        }
    }
    &:active .copy,
    &:focus .copy,
    &:hover .copy {
        background: rgba(0, 0, 0, 0.7);
        opacity: 1;
    }
}
