---
---

@import "{{ site.theme }}";

ul li{
    list-style-image: none;
}
ul li {
    list-style: none;
}
ul li::before{
    content: "\2022";
    color: #b5e853;
    //padding-right: 1em;
    //font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
ul li{
    padding: 5px 0px;
}
code{
    font-size:75%;
}
code.highlighter-rouge{
    border-style: none;
    background:inherit;
    color:#bada07;
}

// support for copy button

// copy code to clipboard
.copy-button {
    //background: rgba(0, 0, 0, 0.7);
    background-color: transparent;
    border: 0;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    color:#bada07;
    position: absolute;
    right: 1rem;
    top: 1rem;
    opacity: 1;
    &:active,
    &:focus,
    &:hover {
        //background: rgba(0, 0, 0, 0.7);
        opacity: 1;
    }
}
