---
comments: true
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/10.3.0/mermaid.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    {% include head-custom.html %}

{% seo %}
  </head>
  <body>
    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title }}</h1>
        </a>
        <h2>{{ site.tagline }}</h2>
      </div>
    </header>
    <div class="container">
      <!--
      <section id="bread_crumbs">
        {% include breadcrumbs.html %}
      </section>
      -->
      <section id="main_content">
        {{ content }}
      </section>
    </div>
    <script src="/assets/js/codebutton.js"></script>
  </body>
  <script>
    var config = {
      startOnLoad:true,
      theme: 'forest',
      flowchart:{
        useMaxWidth:false,
        htmlLabels:true
      }
    };
    mermaid.initialize(config);
    window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
  </script>
</html>
